name: Update PRs on merge with master

on:
  pull_request:
    types: [closed]
  push:
    branches:
      - main

jobs:
  update_prs:
    runs-on: ubuntu-latest

    steps:
    - name: Install jq
      run: sudo apt-get update && sudo apt-get install -y jq
      
    - name: Get open pull requests
      id: get_pull_requests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        curl -sSL -H "Authorization: token ${GITHUB_TOKEN}" \
             -H "Accept: application/vnd.github+json" \
             https://api.github.com/repos/${{ github.repository }}/pulls?state=open \
             | jq '.[].number' > pr_numbers.txt
      shell: bash

    - name: Update pull requests
      id: update_pull_requests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pr_numbers=$(cat pr_numbers.txt)
        echo "PR numbers: ${pr_numbers}"
        for pr_number in ${pr_numbers}; do
          git checkout main
          git fetch origin main
          git checkout -b update-pr-$pr_number
          git merge origin/main
          git push -u origin update-pr-$pr_number:pr/$pr_number
        done
      shell: bash
